* {
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html body {
  margin: 0;
  height: 100%;
  background-image: url(../images/background.png);
}

header {
  top: 0;
  height: 102px;
  min-width: 1000px;
  border-bottom: 2px solid #ccc;
  background: #fff;
}

.header-container {
  margin: 0 auto;
  width: 960px;
}

.header-container::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  float: left;
  padding: 38px 0;
  width: 250px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: #4aaaa5;
}

.links {
  float: right;
  padding: 41px 0;
  width: 250px;
  font-size: 16px;
  text-align: right;
}

a {
  color: #777;
  text-decoration: none;
  text-align: center;
}

.content-wrapper {
  min-width: 1000px;
}

.content-container {
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 112px;
  width: 960px;
}

.content-container::after {
  content: "";
  display: table;
  clear: both;
}

section {
  float: left;
  padding: 20px;
  width: 650px;
  border: 1px solid #ccc;
  background: #fff;
  color: #777;
}

.content-header {
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #4aaaa5;
}

.p-index {
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.profile-picture {
  float: left;
  margin-right: 20px;
}

.port-1 {
  position: relative;
  width: 294px;
}

.i-port-1 {
  margin-top: 20px;
  margin-right: 10px;
}

.p-port-1 {
  position: absolute;
  bottom: 20px;
  padding: 10px 0;
  height: 40px;
  width: 294px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #4aaaa5;
}

.port-2 {
  position: relative;
  width: 294px;
}

.i-port-2 {
  margin-top: 20px;
  margin-left: 6px;
}

.p-port-2 {
  position: absolute;
  bottom: 20px;
  left: 6px;
  padding: 10px 0;
  height: 40px;
  width: 294px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #4aaaa5;
}

.port-3 {
  position: relative;
  width: 294px;
}

.i-port-3 {
  margin-top: 20px;
  margin-right: 10px;
}

.p-port-3 {
  position: absolute;
  bottom: 20px;
  padding: 10px 0;
  height: 40px;
  width: 294px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #4aaaa5;
}

.port-4 {
  position: relative;
  width: 294px;
}

.i-port-4 {
  margin-top: 20px;
  margin-left: 6px;
}

.p-port-4 {
  position: absolute;
  bottom: 20px;
  left: 6px;
  padding: 10px 0;
  height: 40px;
  width: 294px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #4aaaa5;
}

.port-5 {
  position: relative;
  width: 294px;
}

.i-port-5 {
  margin-top: 20px;
  margin-right: 10px;
}

.p-port-5 {
  position: absolute;
  bottom: 20px;
  padding: 10px 0;
  height: 40px;
  width: 294px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #4aaaa5;
}

form {
  padding-top: 20px;
}

label {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

input[type=text] {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.message-box {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
}

::placeholder {
  color: #ccc;
}

input[type=submit] {
  border: none;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: #fff;
  background: #4aaaa5;
}

aside {
  float: right;
  padding: 20px;
  width: 270px;
  border: 1px solid #ccc;
  background: #fff;
  color: #777;
}

.aside-header {
  padding-top: 4px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #4aaaa5;
}

.icons {
  padding-top: 20px;
}

.icon-1 {
  float: left;
}

.icon-2 {
  float: left;
  margin-left: 18px;
}

.icon-3 {
  float: left;
  margin-left: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 47px;
  width: 100%;
  border-top: 6px solid #4aaaa5;
  background: #666;
  color: #fff;
  font-size: 12px;
  text-align: center;
}